<%= form_with model: @job do |form| %>
  <div>
    <%= form.label :job_title %><br>
    <%= form.text_field :job_title %>
    <% @job.errors.full_messages_for(:job_title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description%><br>
    <%= form.text_area :description %><br>
    <% @job.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :company_name%><br>
    <%= form.text_area :company_name %><br>
    <% @job.errors.full_messages_for(:company_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :job_requirement%><br>
    <%= form.text_area :job_requirement %><br>
    <% @job.errors.full_messages_for(:job_requirement).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :salary%><br>
    <%= form.text_area :salary %><br>
    <% @job.errors.full_messages_for(:salary).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :job_location%><br>
    <%= form.text_area :job_location %><br>
    <% @job.errors.full_messages_for(:job_location).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :working_hour%><br>
    <%= form.text_area :working_hour %><br>
    <% @job.errors.full_messages_for(:working_hour).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_date%><br>
    <%= form.text_area :last_date %><br>
    <% @job.errors.full_messages_for(:last_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>