<h1> this is availables jobs<h2>
<%=@job.job_title%><br>
<%=@job.description%><br>
<%=@job.company_name%><br>
<%=@job.job_requirement%><br>
<%=@job.salary%><br>
<%=@job.job_location%><br>
<%=@job.working_hour%><br>
<%=@job.last_date %><br><h1>New Article</h1>


