<h1> Jobs<h2>
<%=@job.job_title%><br>
<%=@job.description%><br>
<%=@job.company_name%><br>
<%=@job.job_requirement%><br>
<%=@job.salary%><br>
<%=@job.job_location%><br>
<%=@job.working_hour%><br>
<%=@job.last_date %><br>
<ul>
  <li><%= link_to "Edit", edit_job_path(@job) %></li>
  <li><%= link_to "Destroy", job_path(@job),
  data: {turbo_method: :delete,turbo_confirm: "Are you sure?"}%></li>
  <br>
</ul>


