 <h1>New Job Post</h1>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :job_title %><br>
    <%= form.text_field :job_title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description%>
  </div>

  <div>
    <%= form.submit %>
<% end %>
  </div>